<p>
  <strong>タイトル：</strong>
  <%= @post.title %>
</p>
<p>
  <strong>内容：</strong>
  <%= @post.text %>
</p>

<h2>コメントの表示</h2>
<%= render @post.comments %>

<h2>コメントの追加</h2>
<%= render 'comments/form' %>
<!-- フォルダ/ファイル名　になっている -->

<%= link_to "一覧に戻る", posts_path %> |
<%= link_to "編集", edit_post_path(@post) %>
